
  <% if @bucket_list.title.present? %>
    <div class="title"><%= @bucket_list.title %></div>
  <% else %>
  Item not found
  <% end %>

  <% if @bucket_list.subtitle.present? %>
    <%= @bucket_list.subtitle %>
  <% else %>
    Item not found
  <% end %>
<h1>Items</h1>
  <% @bucket_list.items.each do |i| %>
    <div class="title"><%= i.title %></div>
    <%= i.description %>
  </br>
  <% end %>

  <%= link_to "back", bucket_lists_path %>
